<h4>Add an Item</h4>
<h6>No need to fill in data. </h6>
<h6>Just click 'Add an Item' button.</h6>
<h6>Item will appear at the bottom of the list.</h6>

<form #newItemForm='ngForm' (ngSubmit)="save()">
    <div class=" form-group">
        <label for="name">Dish Name :</label>
        <input disabled placeholder="Test Item" name="name" class="form-control" id="name" [(ngModel)]='item.name' />
    </div>
    <div class="form-group">
        <label for="price">Price :</label>
        <input disabled placeholder="12.21" name="price" class="form-control" id="price" [(ngModel)]='item.price' />
    </div>
    <div class="form-group">
        <label for="ingredients">Price :</label>
        <input disabled placeholder="one two three" name="ingredients" class="form-control" id="ingredients"
            [(ngModel)]='item.ingredients' />
    </div>


    <label id='available' for="available">Item Available ?
        <div class="form-check">
            <input disabled class="form-check-input" id="no" type="radio" name="available" value="0"
                [(ngModel)]='available' />
            <label class="form-check-label" for="no">No</label>
        </div>
        <div class="form-check">
            <input disabled class="form-check-input" id="yes" type="radio" name="available" value="1"
                [(ngModel)]='available' />
            <label class="form-check-label" for="yes">Yes</label>
        </div>
    </label>

    <div>
        <button class="btn btn-primary" type="submit">Add an Item</button>
    </div>

</form>