form#myform(method='POST', action='/allrequests')
      label(for='name') Name :
      input#name(type='text', name = 'name')
      label(for='email') Email :
      input#email(type='text', name = 'email')
      button(type='submit') Submit Your Request
