.menuItemComponent{
    color: #212529;
    border: 1px dotted #212529;
    background-color: #eaf5e9;
    width:fit-content;
}
.menuItemComponentData{
    color: grey;
    border: 1px dotted grey;
    background-color: #eaf5e9;
    width:fit-content;
}