h1{
    margin-left: auto;
    margin-right: auto;
    color:#026e00;
    background-color: #eaf5e9;
    width: fit-content;
}
.menuComponent{
    border: 3px solid black;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}